{% load site_content %}

<section class="page-section" id="development">
        <div class="container">
        <div class="row text-center">
            <div class="col-md-3" style="background-color:white;">
                {% get_edit_content request 'footer_image_1' 'thumb' '' %}
                <h4 class="my-3">{% get_edit_content request 'footer_desc_2' 'desc' 'Django Development' %}</h4>
                <p class="text-muted">{% get_edit_content request 'footer_desc_3' 'desc' 'Need a web presence, social media integration?.' %}</p>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-3" style="background-color:white;">
                {% get_edit_content request 'footer_image_2' 'thumb' '' %}
                <h4 class="my-3">{% get_edit_content request 'footer_desc_4' 'desc' 'Application Development' %}</h4>
                <p class="text-muted">{% get_edit_content request 'footer_desc_5' 'desc' 'Need something developed with social media integration.Or just a survey?' %}</p>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 text-lg-start">{% get_edit_content request 'footer_desc_1' 'desc' 'Copyright &copy; Your Website 2021' %}</div>
            <div class="col-lg-3 text-lg-start">Distributed By <a href="https://themewagon.com/">Themewagon</a></div>
            <div class="col-lg-3 my-3 my-lg-0">
<!--                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>-->
<!--                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>-->
                <a target="_blank" class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/jody-beggs-63953787/"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-3 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>