<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">What we see for the future...</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ MEDIA_URL }}img/about/windows.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Jan 2023</h4>
                        <h4 class="subheading">Developer Beginnings.</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">15 Years web development for multiple companies, tried MicroSoft and PHP. We don't work with those anymore unless we are migrating to Django.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ MEDIA_URL }}img/about/open-source.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Feb 2023</h4>
                        <h4 class="subheading">Open Source Development</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Taking the experience we can work with looking into developing applications for small business's for a small fee and teach the use of Django CMS</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ MEDIA_URL }}img/about/micropython.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2023</h4>
                        <h4 class="subheading">Transition to Freelance and opensource development</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Current stack is based on Django, like this website.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ MEDIA_URL }}img/about/esp32.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>April 2023</h4>
                        <h4 class="subheading">ESP32 Development</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Expanding into Micro controllers, i.e. Micro Python premise is simple. Feed inputs from sensors of limit switches and act according to predefined settings. Easier said than done.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ MEDIA_URL }}img/about/kivy.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Near Future</h4>
                        <h4 class="subheading">Cross platform development using Kivy.</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">It's nice having a web presence but it's not the same as owing a cross platform application...</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ MEDIA_URL }}img/about/investor.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Update</h4>
                        <h4 class="subheading">Looking for investors or idea's from interested parties</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Anyone interested in investing either time or money into learning about Mirco Python drop a line.</p></div>
                </div>
            </li>
        </ul>
    </div>
</section>