<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Micropython is relatively new, about 5 years old, so it's still developing.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img class="img-fluid" src="{{ MEDIA_URL }}img/services/django.png" alt="..." />
                <h4 class="my-3">Django Development</h4>
                <p class="text-muted">Need a web presence, social media integration?.</p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="{{ MEDIA_URL }}img/services/hosting.png" alt="..." />
                <h4 class="my-3">Web and Email Hosting</h4>
                <p class="text-muted">Web and Email hosting for the django web presence for under R200.</p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="{{ MEDIA_URL }}img/services/django-cms.png" alt="..." />
                <h4 class="my-3">Application Development</h4>
                <p class="text-muted">Need something developed with social media integration.Or just a survey?</p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="{{ MEDIA_URL }}img/services/home-automation.png" alt="..." />
                <h4 class="my-3">Home automation</h4>
                <p class="text-muted">As cliche'd as it is, it's nice to know what going on at home. Electricity usage, turn off or on lights, devices. Let someone in remotely.</p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="{{ MEDIA_URL }}img/services/remote-sensor.png" alt="..." />
                <h4 class="my-3">Remote Sensors systems</h4>
                <p class="text-muted">Garden management system for ph levels, humidity, temperature and soil moisture. Remote security monitoring.</p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="{{ MEDIA_URL }}img/services/hobbies.png" alt="..." />
                <h4 class="my-3">Hobbies</h4>
                <p class="text-muted">Add an ESP32 to an old remote control car or aeroplane and control it from your phone. A camera to watch your 3D printer or lazor cutter.</p>
            </div>
        </div>
    </div>
</section>